<?xml version="1.0"?>
<Envelope>
<Header>
<SourceID>${galaxySourceId}-${serverId}</SourceID>
<MessageID>${messageId}</MessageID>
<MessageType>QueryServerStatus</MessageType>
<SessionID>${sessionId}</SessionID>
<TimeStamp>${timestamp}</TimeStamp>
</Header>
<Body>
<TestData>123456789</TestData>
</Body>
</Envelope>