{"result": "success", "confirmationCode": "$confirmationCode", "orderId" : "$orderId", "amount": "$amount", "productId": "$productId", "product": "$product",  "productName": "$productName", "date": $date, "tax" : "$tax", "shipping": "$shipping", "city": "$city", "state": "$state", "country": "$country", "zip": "$zip"}